
  // Colors
  $dark-color: #072f24;
  $bright-color: #f1f2f7;
  $contrast-color: #f46036;
  $react-color:white;
  $full-bg-color: rgba(8, 53, 41, 0.97);

  // Fonts
  $Heading-font: 'Bebas Neue', cursive;
  $Heading-weight: 400;

  $Body-text-font: 'Inter', sans-serif;
  $Body-text-weight: 300;

  // Screen breakpoints
  $breakpoint-tablet: 768px;
  $breakpoint-mobile: 490px;



body {
  margin: 0;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  background-image: url('../src/assets/DSC08087.jpg');
  background-position: center;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family:  $Body-text-font;
  font-weight: $Body-text-weight;
  font-size: 18px;
}

#root {
  background-color: $full-bg-color;
}

:hover, :active {
  color: $contrast-color;
  text-decoration: none;
}

p {
  font-family:  $Body-text-font;
  font-weight: $Body-text-weight;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: $Heading-font;
  font-weight: $Heading-weight;
  font-size: 28px;
}

  .main-title {
    font-size: 9rem;
    letter-spacing: 1px;

    font-family: $Heading-font;
    font-weight: $Heading-weight;
    text-transform: uppercase;

    color: $react-color;
  }

main {
  width: 100%;
  min-height: 50vh;

  margin: 0rem 0rem;
  padding: 0rem 0rem;
}

footer {
  width: 100%;
  height: auto;

  p {
    color: $bright-color;
    font-size: 12px;

    font-family:  $Body-text-font;
    font-weight: $Body-text-weight;
    padding-top: -10px;
    padding-bottom: 1rem;
    margin-bottom: 0px;
  }
}



code {
  font-family: Consolas, 'Courier New', monospace;
}


.App {
  text-align: center;
  width: 100vw;
}

.itunes-logo {
  text-align: center;
  pointer-events: none;
  padding: 2rem 0rem;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  padding: 1.8rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $bright-color;
}

.App-link {
  color: $contrast-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: $breakpoint-mobile) {
body {
  background-image: url('../src/assets/mobile-bg.jpg');
}

  .main-title {
    font-size: 42px;
  }
}
